.FirstSection{
    width: 80%;
    margin: auto;
    padding-top: 10%;
}
.bannerImg{
    width: 350px;
    height: 450px;
    margin-top: -20%;
    margin-left: 10%;
    opacity: 1; 
    z-index: 12;
    position: relative;
}
.bigtext{
    color: 	#000;
    font-size: 48px;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 700;
}
.smalltext{
    font-size: 16px;
    color: grey;
    // opacity: 0.7;
    width: 70%
}